<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.semillero.corresponsalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CorresponsalApp">
        <activity
            android:name=".ViewsAdmin.ActualizarClientesAdmin"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.ConfirmarDatosCliente"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.ActualizarCorresponsalAdmin"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.ConfirmarDatosCorresponsal"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.Confirmar_Pin"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.Inicio_administradorView"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.ListadoClientesAdmin"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.ConsultarCorresponsalAdmin"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.ConsultarClienteAdmin"
            android:exported="false" />
        <activity
            android:name=".ViewsAdmin.RegistrarCorresponalAdmin"
            android:exported="false" />
        <activity
            android:name=".MVP.MasterControl"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>